<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>815517402375-75n6smaqc693h08gca3p5nhk1k2qv9kh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.815517402375-75n6smaqc693h08gca3p5nhk1k2qv9kh</string>
	<key>API_KEY</key>
	<string>AIzaSyAHsoPYMUF-BC-_W95zet0LZ2MlKSSra-U</string>
	<key>GCM_SENDER_ID</key>
	<string>815517402375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexmosunov.InstagramFirestore</string>
	<key>PROJECT_ID</key>
	<string>instagramfirestore-352af</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirestore-352af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815517402375:ios:a795b2901b64729ecf71a2</string>
</dict>
</plist>